<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shortcutIdentifier</key>
	<string>38BE9C16-9ED5-4563-85FE-16D3DA0A0A87</string>
	<key>version</key>
	<integer>0</integer>
</dict>
</plist>
